APP_NAME=MateryalPH
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_TIMEZONE=UTC
BUSINESS_TIMEZONE=Asia/Manila
HASH_DRIVER=argon2id

DB_CONNECTION=pgsql
DB_HOST=postgres-test
DB_PORT=5432
DB_DATABASE=materyalph_test
DB_USERNAME=materyalph_test_runner
DB_PASSWORD=
TEST_DB_PASSWORD=
TEST_DB_ALLOWED_HOSTS=postgres-test

CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array

FINANCE_MODE=TEST
WITHHOLDING_SCENARIO=NONE
PLATFORM_TAX_PROFILE=NON_VAT
LIVE_COMMERCE_ENABLED=false
MATERIALS_ANALYTICS_ENABLED=false
RECAPTCHA_ENABLED=false
